body{
    background-color: red;
    font-style: Arial;
    

}

div{
    font-size: x-large;
    text-align: center;
}

 div::after{
    content: "welcome to college";
 }

  @media (max-width:500px){
        body{
            background-color: indianred;

        }
        div::after{
            content: "this is the range";
        }
    }

 @media (700px < width < 1000px){
    body{
        background-color: blue;
    }

    div::after{
        content: "this is second message";
    }

   
 }