body {
    display: grid;
    place-items: center;
}


.form {
    margin-top: 50px;
    display: grid;
    place-items: center;
    padding: 50px 100px;
    background-color: #f5edf9;
    gap: 20px;
    border-radius: 10px;
}

form button {
    padding: 5px 150px;
    cursor: pointer;
    background-color: rgb(233, 132, 149);
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
}

form input {
    padding: 10px 2px;
}