.container{
    border: 2px solid rgb(212, 206, 206);
    padding:10px;
    min-height: 100vh;
}


.heading{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    background-color: pink;
    padding: 10px;
    border-radius: 10px;
}

