*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #fcebd6;
    font-family: 'Poppins', sans-serif;
}
header nav{
    margin-top: 10px;
    margin-left: 50px;
    display: flex;
    align-items: center;


}
ul{ 
    margin-left:100px;
    display:flex;
    justify-content: space-evenly;
}
li{
    list-style: none;

}
a{
    text-decoration: none;
    cursor: pointer;
    margin:0px 30px;
    color: #282626;
    font-weight: bold;
}

a:hover{
    text-decoration-line: underline;
    color: #6d7660;
}

.hero-main{
    display:flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

.hero-main-left{
    margin-top: 110px;
}





.img1{
    margin-right: 20px;
    float:left;
}
.img2{

    float:right;
}
.img3{
    clear: both;
}

button{
    border-radius: 8px;
    padding: 8px;
    margin-top:11px;
    color: #fff;
    background-color: #0b821d;
    cursor: pointer;
}

button:hover{
    background-color: #055311;
}