*{
    margin: 0px;
    padding:0px;
    overflow:hidden;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
    
}


body{
    background-image: url(../assets/pexels-maxyne-barcel-10402282\ 1.png);
    background-repeat: no-repeat;
    /* background-size: cover;   */
}


nav {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
}

ul{
    display:flex;
    justify-content:space-between;
    
}

li{
    list-style: none;
}

li a{
    text-decoration: none;
    color: #eabf13;
}

.menus li{
    
    font-size: small;
    margin: 10px 10px;
    padding: 10px;
    
}
.menus li a:hover{
    text-decoration-line:underline ;
    color:#cda505;
}

.logo li{
    margin-left: 20px;
}

nav button{
    /* margin: 15px 90px 0px 0px; */
    margin-right:40px;
    margin-top: 5px;
    padding: 10px 40px;
   
}

button{
    background-color: #fc6d6d;
    color: #fff;
    cursor: pointer;
    border:none;
}
button:hover{
    background-color: #ab4b4b;
}

.mid-part{
    display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 50px;
}

.mid-part-center{
    font-weight: 900;
    font-size: 100px;
    color: #eabf13;
    line-height: 85px;   /*Imp property*/
    /* width: 1000px; */
}

main button{
    margin-top:50px;
    padding:13px 35px;

}


.scroll{
    margin-left: 1143px;
    margin-top: -20px;
   
}
